---
layout: archive
title: "Teaching"
#permalink: /teaching/
author_profile: true
---

{% include base_path %}
•Economics 1B (1st year Macroeconomics, Undergraduate module)
• Economics 2A: Mathematics (2nd year Microeconomics, Undergraduate module)
• Economics 2B: Statistics (2nd year Macroeconomics, Undergraduate module)
• Econometrics (Undergraduate (Hons) module)
• Behavioural Economics ( Undergraduate (Hons) module)
• Econometric methods for Business ( Postgraduate module)
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
